name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  code-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Read Node version
        run: echo "::set-output name=NVMRC::$(cat .nvmrc)"
        id: nvm

      - name: Setup Node ${{ steps.nvm.outputs.NVMRC }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.nvm.outputs.NVMRC }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Code check
        run: npm run lint

      - name: Run tests
        run: npm run test --verbose

      - name: Run build
        run: npm run build
